
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="/Product">Product</a>
        <a href="/Admin">Admin</a>
        <a href="/User">User</a>
    </div>
</body>
</html>
